body{	
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
}

.wrapper{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.navbar{
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #335C67;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	z-index: 2000;
}

.header{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 2rem;
	user-select: none;
}

.input-idnumber{
	font-size: 1.5rem;
	padding: 0.5rem 1.5rem;
	font-family: 'Raleway', sans-serif;
	border: 2px solid white;
	color: #335C67;
}

.input-idnumber:focus{
	outline: 0;
}

.input-label{
	color: white;
	font-family: 'Raleway', sans-serif;
	user-select: none;
	cursor: pointer;
	font-size: 2rem;
	margin-left: 1rem;
}

#input-day{
	display: none;
}

#input-day-label{
	padding: 0.5rem 1.5rem;
}

.timetable{
	position: fixed;
	bottom: 0;
	left: 0;
}

.info{
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5vh;
	box-sizing: border-box;
	overflow-y: scroll;
	z-index: 50000;
	background: white;
	color: black;
    word-wrap: break-word;
}

.infoClose{
	user-select: none;
	cursor: pointer;
	color: red;
	padding: 1rem;
	z-index: 9999999999999999;
}